body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url(battle.webp);
    background-size: cover;
}
ul {
    border: solid;
    width: 150px;
    list-style-type: none;
    height: 160px;
    background: lightgray;
    padding: 15px;
}
#foobar { display: none }
#mon {
    border: solid red;
    margin: auto;
    background-color: gray;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: black 1px 0 10px;
}
.rival {
    grid-column: 3 / span 1;
    grid-row: 2;
}
.choice {
    grid-column: 1 / span 1;
    grid-row: 3;
    display: flex;
    justify-content: right;
}
.text {
    grid-column: 2;
    grid-row: 3;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    border: solid gold;
}
.delay {
    z-index: 1;
    color: black;
}
.moves {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 0px;
    font-size: 16px;
    width: 100px;
    cursor: pointer;

}
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}
.image {
    height: 250px;
}
.p1Life {
    background: green;
    border: solid;
    margin: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}
.p2Life {
    background: green;
    border: solid;
    margin: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    width: 75px;
    text-align: center;
} 
.foe {
    background: silver;
    padding: 10px;
    border: solid blueviolet;
    font-weight: bold;
    font-size: 25px;
}
.pika {
    margin-right:200px;
}
.youDied {
    scale: 40%;
}
.death {
    position: absolute;
}
.life {
    visibility: hidden;
}
.text1 {
    grid-column: 2;
    grid-row: 2;
    font-size: 100px;
    color: #ffc107;
    font-family: Courier New;
    text-shadow: 0px 0px 0 rgb(246,184,0),
                 1px 1px 0 rgb(237,175,0),
                 2px 2px 0 rgb(228,166,0),
                 3px 3px 0 rgb(219,157,0),
                 4px 4px 0 rgb(209,147,0),
                 5px 5px 0 rgb(200,138,0),
                 6px 6px 0 rgb(191,129,0),
                 7px 7px 0 rgb(182,120,0), 
                 8px 8px 0 rgb(173,111,0),
                 9px 9px 0 rgb(164,102,0),
                 10px 10px 0 rgb(155,93,0),
                 11px 11px 0 rgb(146,84,0),
                 12px 12px 0 rgb(137,75,0),
                 13px 13px 0 rgb(128,66,0),
                 14px 14px 0 rgb(118,56,0),
                 15px 15px 0 rgb(109,47,0),
                 16px 16px 0 rgb(100,38,0),
                 17px 17px 0 rgb(91,29,0),
                 18px 18px 0 rgb(82,20,0),
                 19px 19px 0 rgb(73,11,0),
                 20px 20px 0 rgb(64,2,0),
                 21px 21px 0 rgb(55,-7,0),
                 22px 22px 0 rgb(46,-16,0),
                 23px 23px 0 rgb(36,-26,0),
                 24px 24px 0 rgb(27,-35,0),
                 25px 25px 0 rgb(18,-44,0),
                 26px 26px 0 rgb(9,-53,0),
                 27px 27px 0 rgb(0,-62,0),
                 28px 28px  0 rgb(-9,-71,0),
                 29px 29px 28px rgba(0,0,0,0.66),
                 29px 29px 1px rgba(0,0,0,0.5),
                 0px 0px 28px rgba(0,0,0,.2);
}